/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
*{
    background-color: lavender;
}
footer{
    position:absolute;

}
h1, footer{
    background-color: white;
    width: 520px;
}
h1{
    text-align: center;

}
p{
    color: rgb(105, 3, 133);
    font-style: italic;

}
img{
    border: solid rgb(87, 62, 28) 10px;
    width: 500px;
    height: auto;
    border-radius: 10px;

}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}